{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-image: url(https://img.freepik.com/free-photo/ribbon-light-space_53876-138216.jpg?w=1380&t=st=1685534686~exp=1685535286~hmac=7c202c6970ee7048758bd96081aca036254fb11d39ec01fd35bb8a12663c6e5b);
        background-size: cover;
    }
</style>
<div class="container mt-5">
    <div class="d-flex justify-content-center " style="margin-top: 170px;">
        
        <form method="POST" class="shadow p-3 w-50 bg-white" autocomplete="off">
            <h2 style="color: rgb(41, 1, 243);"> Account login </h2>
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" class="form-control">

            <label>Password</label>
            <input type="password" name="password" class="form-control">
            <button type="submit" class="btn btn-warning w-30 mt-2">Login</button>
            <p class="mt-2">If you don't have an account, <a href="{% url 'signup' %}" style="text-decoration: none;">Register</a></p>
        </form>
    </div>
</div>


{% endblock content %}




